[submodule "Container"]
	path = Container
	url = ../container.git
	branch = TNG
[submodule "RegressionTests"]
	path = RegressionTests
	url = ../regression-tests.git
	branch = master
[submodule "Professional"]
	path = Professional
	url = https://github.com/unitycontainer/professional.git
[submodule "BenchmarkTests"]
	path = BenchmarkTests
	url = https://github.com/unitycontainer/benchmark-tests.git
[submodule "SpecificationTests"]
	path = SpecificationTests
	url = https://github.com/unitycontainer/specification-tests.git
